/* 
Google Font Options::after

font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif; 
*/


h1 {
    color: aquamarine;
    background-color: grey;
    font-family: 'Nunito', sans-serif;
}


p {
    background-color: aquamarine;
    color: grey;
    font-family: 'Nunito', sans-serif;
}